{{ define "Comprar" }}
  {{ template "Header" }}
    {{ template "Menu" }}
   <h2>Editar Evento</h2>
    <form method="POST" action="update">
      <label> ID </label><input type="text" name="tid" value="{{ .Id }}"  /><br />
      <label> Precio </label><input type="text" name="precio" value="{{ .Precio }}"  /><br />
      <input type="submit" value="Comprar" />
    </form><br />
  {{ template "Footer" }}
{{ end }}
