{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }}
   <h2>Editar Nombre & Ciudad</h2>
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Nombre </label><input type="text" name="nombre" value="{{ .Nombre }}"  /><br />
      <label> Lugar </label><input type="text" name="lugar" value="{{ .Lugar }}"  /><br />
      <label> Fecha </label><input type="text" name="fecha" value="{{ .Fecha }}"  /><br />
      <input type="submit" value="Save user" />
    </form><br />
  {{ template "Footer" }}
{{ end }}
