{{ define "Mostrar" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
      <form method="POST" action="comprar">
        <label> Id </label><input type="text" name="tid" value="{{ .IdBoleto }}"  disabled/><br />
        <label> Precio </label><input type="text" name="precio" value="{{ .Precio }}"  disabled/><br />
        <input type="submit" value="Comprar" />
      </form><br />
  {{ template "Footer" }}
{{ end }}
