{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }}
   <h2>Nuevo</h2>
    <form method="POST" action="insert">
      <label> Id </label><input type="text" name="id" /><br />
      <label> Nombre </label><input type="text" name="nombre" /><br />
      <label> Lugar </label><input type="text" name="lugar" /><br />
      <label> Fecha </label><input type="text" name="fecha" /><br />
      <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}
